.container {
    height: 50%;
    width: 80%;
    margin: 0 auto;
    padding: 5%;
}

.row {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
    margin: 0 auto;
}

.score {
    flex-grow: 1;
}

.result {
    flex-grow: 5;
    text-align: center
}

.hand {
    flex-grow: 1;
    max-width: 240px;
    text-align: center;
}

.hand p {
    position: relative;
    top: 100%;
}

.rock {
	background: url('img/rps.png') no-repeat 0px -180px;
	width: 240px;
	height: 240px;
}

.paper {
    background: url('img/rps.png') no-repeat -260px -180px;
	width: 240px;
	height: 240px;
}

.scissors {
    background: url('img/rps.png') no-repeat -520px -180px;
	width: 240px;
	height: 240px;
}

