.container {
    height: 50%;
    width: 60%;
    margin: 0 auto;
    padding: 5%;
}

.hands {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
    margin: 0 auto;
}

.hand {
    padding-left: 10%;
}

