.container {
    height: 50%;
    width: 60%;
    margin: 0 auto;
    padding: 5%;
}

.row {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
    margin: 0 auto;
}

.score {
    flex-grow: 1;
    position: relative;
    left: 90%;
}

.hand {
    flex-grow: 1;
    text-align: center;
}

